<div class="card card--green">

  <div class="card__header">
    <span class="h2"> paginations demo </span>
  </div>
  
  <div class="card__body">

    <h4 class="my-4">Default</h4>
    <ul class="pagination"
      template-url="app/features/paginations/paginations.item.html"
      uib-pagination 
      items-per-page="vm.itemsPerPage"
      total-items="vm.totalItems"
      ng-model="vm.currentPage">
    </ul>

    <h4 class="my-4">Limit the maximum visible buttons</h4>
    <ul class="pagination"
      template-url="app/features/paginations/paginations.item.html"
      uib-pagination 
      items-per-page="vm.itemsPerPage"
      total-items="vm.totalItems"
      max-size="vm.maxSize"
      force-ellipses="true"
      ng-model="vm.currentPage">
    </ul>

  </div>

</div>
