<div class="card card--green">

  <div class="card__header">
    <span class="h2"> Paginations demo </span>
  </div>
  
  <div class="card__body">

    <div class="main__h4">Default</div>
    <ul class="pagination"
      template-url="app/features/paginations/paginations.item.html"
      uib-pagination 
      items-per-page="vm.itemsPerPage"
      total-items="vm.totalItems"
      ng-model="vm.currentPage">
    </ul>

    <div class="main__h4">Limit the maximum visible buttons</div>
    <ul class="pagination"
      template-url="app/features/paginations/paginations.item.html"
      uib-pagination 
      items-per-page="vm.itemsPerPage"
      total-items="vm.totalItems"
      max-size="vm.maxSize"
      force-ellipses="true"
	  boundary-link-numbers="true"
      ng-model="vm.currentPage">
    </ul>

  </div>

</div>
