.card {
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* 解决：包含块下的子元素都为块元素的情况下，包含块不包含子元素的margin-top与margin-bottom */
.card::before {
  content: "";
  display: table;
}

.card::after {
  content: "";
  display: table;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__header {
  padding: 1rem 0.5rem;
}

.card__content {
  padding: 1.5rem;
}

.card--theme-green > .card__header {
  background-color: #00b35e;
  color: #fff;
}

.card--theme-green > .card__content {
  border: 1px solid #00b35e;
}

.card--theme-gray > .card__header {
  background-color: #2a4254;
  color: #fff;
}

.card--theme-gray > .card__content {
  border: 1px solid #2a5254;
}

