<div class="login">

  <form novalidate class="login__form">
    <div class="form mb-2">
      <span class="form__prepend"><i class="fa fa-user-o" aria-hidden="true"></i></span>
      <input type="text" name="username" placeholder="test"
        ng-model="vm.username"
        class="form__control"/>
    </div>

    <div class="form mb-2">
      <span class="form__prepend"><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input type="text" name="password" placeholder="123456" 
        ng-model="vm.password"
        class="form__control"/>

    </div>

    <div>
      <button type="submit" class="btn btn--primary" ng-click="vm.submit()">登陆</button>
      <a ui-sref="home" class="link"> 忘记密码？</a>
    </div>
  </form>

</div>
