/* author
   ================================== */
.author {
  display: flex;
  align-items: center;
  line-height: $header-height;
  text-decoration-line: none;
}

.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author__name {
  @include link-color();
}

/* user-menu
   ================================== */
.user-menu {
  display: none;
  position: absolute;
  top: $header-height;
  right: 0;
  width: 180px;
  border: 1px solid $border-color;
  background-color: $white;
}

.user-menu__item {
  display: block;
  border-bottom: 1px solid $border-color;
  padding: .5rem;
  cursor: pointer;
}

/* header
   ================================== */
.header {
  height: $header-height;
  width: 100%;
  background-color: $header-bg-color;
  @include box-shadow-around($color: $cl-dark);
}

.header__inner {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-items: center;
}

.header__brand {
  width: $sidebar-width;
  height: $header-height;
  background-image: url("/img/AngularJS.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: $sidebar-bg-color;
}

.header__author {
  // make element in flex box taking most of free space.
  margin-left: auto;
  padding: 0 10px;
  position: relative;

  &:hover {
    background-color: $gray-200;

    .user-menu {
      display: block;
    }
  }
}

