.header {
  height: $header-height;
  width: 100%;
  background-color: $header-bg-color;
  @include box-shadow-around($color: $cl-dark);
}

.header__brand {
  display: inline-block;
  width: $sidebar-width;
  height: $header-height;
  background-image: url("/img/AngularJS.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: $sidebar-bg-color;
}

.header__author {
  float: right;
  display: inline-block;
  line-height: $header-height;
}

/* author
   ================================== */
.author {
  display: inline-block;
  text-decoration-line: none;
}

.author__avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.author__name {
  vertical-align: middle;
}

