/* author
   ================================== */
.author {
  display: flex;
  align-items: center;
  line-height: $header-height;
  text-decoration-line: none;
  width: $header-author-width;
  padding: 0 $padding-base;
}

.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author__name {
  color: $white;
}

/* user-menu
   ================================== */
.user-menu {
  display: none;
  position: absolute;
  top: $header-height;
  right: 0;
  width: $header-author-width;
  border: 1px solid $border-color;
  background-color: $white;
}

.user-menu__item {
  display: block;
  border-bottom: 1px solid $border-color;
  padding: $padding-sm $padding-base;
  cursor: pointer;

  &:hover {
    color: theme-color('secondary');
  }
}

/* header
   ================================== */
.header {
  height: $header-height;
  width: 100%;
  background-color: $header-bg-color;
  @include box-shadow-around($color: $cl-dark);
}

.header__inner {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-items: center;
}

.header__brand {
  width: $sidebar-width;
  height: $header-height;
  background-image: url("/img/logo.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.header__author {
  // make element in flex box taking most of free space.
  margin-left: auto;
  position: relative;

  &:hover {
    background-color: darken($header-bg-color, 4%);

    .user-menu {
      display: block;
    }
  }
}

