
.repeaters__order {
  margin: 20px 0;
}

.repeaters__input {
  width: 300px;
}

.phone-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.phone-list__item {
  margin-bottom: 2px;
  padding: 10px;
  border: 1px solid $cl-dark;
}

.phone-list__item-img {
  float: left;
  width: auto;
  height: 100px;
  margin: 0 10px 0 0;
}

.phone-list__item-name {
}

.phone-list__item-description {
}

