.main {
  background-color: $main-bg-color;
}

.main__h4 {
  font-size: $h4-font-size;
  margin: 2rem 0;
  border-bottom: 2px solid $cyan;
}

//
// modal
.main-modal {
  width: 400px;
  margin-top: 30px;
}
