/* nav
   ================================== */
.nav {
  background-color: $nav-font-color;
}

.nav__item {
}

.nav__link {
  display: flex;
  padding: $nav-link-padding-y $nav-link-padding-x;
  font-size: .9rem;
  color: $nav-font-color;
  background-color: $nav-item-color;
  text-decoration-line: none;

  &:hover {
    background-color: $nav-item-hover-color;
  }
}

.nav__link-prepend {
  margin-right: 5px;
}

/* arrow */
.nav__link-arrow {
  margin-left: auto;
}

.nav__link-label {
}

//
// 1. transition does not work form height: 0 to height: auto, so use margin-top to transition.
//
.sub-nav-wrapper {
  overflow: hidden;
}

.sub-nav {
  display: block;
  margin-top: -100%;    // 1
  transition: margin-top .5s ease;
  //overflow: hidden;
  //max-height: 0;
  //transition: max-height 1s ease;
}

.sub-nav__link {
  padding-left: $nav-link-padding-x * 2;
}

/* for js
   ================================== */
.js-nav__item--open {
  .sub-nav {
    margin-top: 0;
    //max-height: 500px;
    //transition: max-height 1s ease;
  }

  .nav__link-arrow {
    i {
      transform: rotate(90deg);
    }
  }
}

.js-nav__link--active {
  background-color: $nav-item-active-color;
}

.js-nav__item--active {
  border-left: 3px solid $nav-vline-color;
}


