.password-forget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $white;
}

.password-forget-inner {
  min-width: 50%;
  margin: auto;
}