<div class="card card--green">

  <div class="card__header">
    <span class="h2"> Buttons demo </span>
  </div>
  
  <div class="card__body">

    <div class="h3">buttons</div>
    <div>
      <div ng-repeat="theme in vm.themes" class="ml-2 d-inline-block">
        <button class="btn btn--{{theme}}">{{theme}}</button>
      </div>
      <button class="btn">default</button>
    </div>

    <div class="h3"> outline buttons</div>
    <div>
      <div ng-repeat="theme in vm.themes" class="ml-2 d-inline-block">
        <button class="btn btn--outline-{{theme}}">{{theme}}</button>
      </div>
    </div>

    <div class="h3"> disabled buttons</div>
    <div>
      <div ng-repeat="theme in vm.themes" class="ml-2 d-inline-block">
        <button disabled class="btn btn--{{theme}}">{{theme}}</button>
      </div>
    </div>

    <div class="h3"> disabled outline buttons</div>
    <div>
      <div ng-repeat="theme in vm.themes" class="ml-2 d-inline-block">
        <button disabled class="btn btn--outline-{{theme}}">{{theme}}</button>
      </div>
    </div>

  </div>

</div>
