.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  cursor: pointer;
  border-radius: $border-radius;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  transition: $btn-transition;

  &:focus {
    outline: 0;
    @include button-box-shadow($cl-primary);
  }

  &:disabled {
    opacity: .65;
    cursor: auto;
  }
}

@each $theme, $value in $btn-theme-colors {
  .btn--#{$theme} {
    color: color-yiq($value);
    background-color: $value;
    border-color: $value;

    &:focus {
      @include button-box-shadow($value);
    }

    &:hover {
      color: color-yiq(darken($value, 7.5%));
      background-color: darken($value, 7.5%);
      border-color: darken($value, 10%);
    }

    &:active {
    }

    &:disabled {
      background-color: $value;
      border-color: $value;
    }
  }
}

@each $theme, $value in $btn-theme-colors {
  .btn--outline-#{$theme} {
    color: $value;
    background-color: transparent;
    border-color: $value;
    background-image: none;

    &:focus {
      @include button-box-shadow($value);
    }

    &:hover {
      color: color-yiq($value);
      background-color: $value;
    }

    &:active {
    }

    &:disabled {
      color: $value;
      background-color: transparent;
    }
  }
}

