.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25em;
  padding: .375rem .75rem;
  cursor: pointer;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  transition: $btn-transition;

  &:focus {
    outline: 0;
    @include button-box-shadow($cl-primary);
  }
}

@each $theme, $value in $theme-colors {
  .btn--#{$theme} {
    color: color-yiq($value);
    background-color: $value;
    border-color: $value;

    &:hover {
      color: color-yiq(darken($value, 7.5%));
      background-color: darken($value, 7.5%);
      border-color: darken($value, 10%);
    }

    &:active {
      color: color-yiq(darken($value, 10%));
      background-color: darken($value, 10%);
      border-color: darken($value, 12.5%);
    }

    &:focus {
      @include button-box-shadow($value);
    }
  }
}
