.card {
  background-color: $cl-card-bg;
  border: 1px solid $cl-card-border;
  border-radius: $border-radius;

  &::before,
  &::after {
    content: "";
    display: table;
  }
}

.card__header {
  width: 100%;
  padding: .75rem 1.25rem;
  background-color: $cl-card-border;
}

.card__body {
  width: 100%;
  padding: 1.25rem;
}

/* Modifier
   ================================== */
.card--shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  transition: $transition-base;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  }
}

@each $theme, $value in $card-theme-colors {
  .card--#{$theme} {
    border: 1px solid $value;

    > .card__header {
      color: color-yiq($value);
      background-color: $value;
    }
  }
}

