.card {
  background-color: $card-bg-color;
  border: 1px solid $card-border-color;

  &::before,
  &::after {
    content: "";
    display: table;
  }
}

.card__header {
  width: 100%;
  padding: .75rem 1.25rem;
  background-color: $card-border-color;
}

.card__body {
  width: 100%;
  padding: 1.25rem;
}

/* Modifier
   ================================== */
.card--radius {
  border-radius: $border-radius;
}

.card--shadow {
  @include box-shadow-around($color: $cl-dark);

  transition: $transition-base;
}

@each $theme, $value in $card-theme-colors {
  .card--#{$theme} {
    border: 1px solid $value;

    > .card__header {
      color: color-yiq($value);
      background-color: $value;
    }
  }
}

