//
// base
//
.form-input {
  display: block;
  width: 100%;
  font-size: $input-font-size;
  line-height: $input-line-height;
  padding: $input-padding-y $input-padding-x;
  border: $input-border-width solid $input-border-color;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  transition: $input-transition;
  @include border-radius($input-border-radius);
  @include box-shadow($input-box-shadow);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    outline: 0;
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    @include box-shadow($input-box-shadow, $input-focus-box-shadow);
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

//
// form group
//
.form {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-items: center;
}

.form__label {
  font-size: $input-font-size;
  line-height: $input-line-height;
  flex: 0 0 auto;
}

.form__prepend {
  text-align: center;
  margin-right: -$input-border-width;
  font-size: $input-font-size;
  line-height: $input-line-height;
  padding: $input-padding-y $input-padding-x;
  border: $input-border-width solid $input-border-color;
  background-color: $gray-200;
}

.form__control {
  @extend .form-input;

  border-radius: unset;
}

.form__postpend {
}

