.table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    vertical-align: center;
  }

  td {
    text-align: left;
    vertical-align: center;
  }
}

