/* Document
   ================================== */
html,
body {
  height: 100%;
}

/* Headings
   ================================== */
// 1. Remove top margins from headings.
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}
h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

/* List
   ================================== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Lead
   ================================== */
.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}
