<div class="main-inner">
  <div class="main-header main-section">
    <ol class="breadcrumb h5 main-header__title">
      <li class="breadcrumb__item">修改密码</li>
    </ol>
  </div>

  <div class="main-body">
    <form name="passwordForm" novalidate>
      <ul class="main-list main-section">

        <li class="main-list__item">
          <label class="main-list__item-left" for="oldPassword"><span class="text-red">*</span>原密码：</label>
          <input class="form-input main-list__item-middle"
                 type="password"
                 name="oldPassword" id="oldPassword"
                 ng-model="vm.oldPassword"
                 placeholder="请输入原密码"
                 required>
          <div ng-show="passwordForm.$submitted || passwordForm.oldPassword.$touched" class="main-list__error">
            <span ng-show="passwordForm.oldPassword.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <label class="main-list__item-left" for="newPassword"><span class="text-red">*</span>新密码：</label>
          <input class="form-input main-list__item-middle"
                 type="password"
                 name="newPassword" id="newPassword"
                 ng-model="vm.newPassword"
                 placeholder="请输入新密码"
                 required>
          <div ng-show="passwordForm.$submitted || passwordForm.newPassword.$touched" class="main-list__error">
            <span ng-show="passwordForm.newPassword.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <label class="main-list__item-left" for="newPasswordAgain"><span class="text-red">*</span>确认新密码：</label>
          <input class="form-input main-list__item-middle"
                 type="password"
                 name="newPasswordAgain" id="newPasswordAgain"
                 ng-model="vm.newPasswordAgain"
                 placeholder="请再次输入新密码"
                 required>
          <div ng-show="passwordForm.$submitted || passwordForm.newPasswordAgain.$touched" class="main-list__error">
            <span ng-show="passwordForm.newPasswordAgain.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <div class="main-list__item-middle main-list--offset">
            <button class="btn btn--secondary col-12" type="submit" ng-click="vm.setPassword(passwordForm)">保存</button>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>
