
<div class="card card--green">

  <div class="card__header">
    <span class="h2"> Repeaters demo </span>
  </div>
  
  <div class="card__body">
    <div>

      <div>
        <label>Search: <input class="form-input repeaters__input" type="text" ng-model="vm.search.$" placeholder="all text"> </label>
      </div>
      <div>
        <label>Search: <input class="form-input repeaters__input" type="text" ng-model="vm.search.name" placeholder="name"> </label>
      </div>
      <div>
        <label>Search: <input class="form-input repeaters__input" type="text" ng-model="vm.search.snippet" placeholder="description"> </label>
      </div>

    </div>
    
    <div class="repeaters__order">
      <button class="btn btn--primary" ng-click="vm.order=null">Set to unsorted</button>
      <button class="btn btn--primary" ng-click="vm.order='name'">sort by name</button>
    </div>
    
    <ul class="phone-list">
      <li class="phone-list__item" ng-repeat="phone in vm.phones | filter:vm.search | orderBy:vm.order ">
        <img class="phone-list__item-img" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
        <p class="phone-list__item-name">{{phone.name}}</p>
        <p class="phone-list__item-description">{{phone.snippet}}</p>
      </li>
    </ul>
  </div>

</div>
