
<h2>repeaters</h2>

<div>
  <label>Search: <input type="text" ng-model="vm.search.$"> </label>
  <label>Search by name: <input type="text" ng-model="vm.search.name"> </label>
  <label>Search by description: <input type="text" ng-model="vm.search.snippet"> </label>
</div>

<ul class="phone-list">
  <li class="phone-list__item" ng-repeat="phone in vm.phones | filter:vm.search">
    <img class="phone-list__item-img" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
    <p class="phone-list__item-name">{{phone.name}}</p>
    <p class="phone-list__item-description">{{phone.snippet}}</p>
  </li>
</ul>
