/* ==================================
 * Vendors
 * ================================== */
/* ==================================
 * Helpers
 * ================================== */
/* Base colors
   ================================== */
/* Alert
   ================================== */
/* Body
   ================================== */
/* Nav
   ================================== */
/* Header
   ================================== */
/* Main
   ================================== */
/* Sidebar
   ================================== */
/* Card
   ================================== */
/* Header
   ================================== */
/* Sidebar
   ================================== */
/* Base
   ================================== */
/* Headings
   ================================== */
/* Lead
   ================================== */
/* Button
   ================================== */
/* ==================================
 * Base
 * ================================== */
/**
 * Normalization of HTML elements, manually forked from Normalize.css to remove
 * styles targeting irrelevant browsers while applying new styles.
 *
 * Normalize is licensed MIT. https://github.com/necolas/normalize.css
 */
/* Document
   ================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Body
   ================================== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/* Document
   ================================== */
html,
body {
  height: 100%;
}
/* Headings
   ================================== */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
/* List
   ================================== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Lead
   ================================== */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
/* ==================================
 * Components
 * ================================== */
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition: 0.5s linear all;
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.25em;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.card {
  background-color: #fff;
  border: 1px solid #ced4da;
}
/* 解决：包含块下的子元素都为块元素的情况下，包含块不包含子元素的margin-top与margin-bottom */
.card::before,
.card::after {
  content: "";
  display: table;
}
.card__header {
  padding: 0.75rem 1.25rem;
  background-color: #ced4da;
}
.card__body {
  padding: 1.25rem;
}
/* Modifier
   ================================== */
.card--shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card--shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card--theme-green {
  border: 1px solid #28a745;
}
.card--theme-green > .card__header {
  background-color: #28a745;
}
.card--theme-outline-green {
  border: 1px solid #28a745;
}
.form-group {
  display: block;
  margin-bottom: 1rem;
}
.form-group__label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15;
}
.form-group__input {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group__input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
.form-group__input::placeholder {
  color: #868e96;
  opacity: 1;
}
.img--circle {
  border-radius: 50%;
}
/* Margin
   ================================== */
/* ==================================
 * Partials
 * ================================== */
.header {
  height: 60px;
  width: 100%;
  background-color: #fff;
}
.header__brand {
  display: inline-block;
  width: 220px;
  height: 60px;
  background-image: url("/img/AngularJS.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #1c3043;
}
.header__author {
  float: right;
  display: inline-block;
  line-height: 60px;
}
/* author
   ================================== */
.author {
  display: inline-block;
  text-decoration-line: none;
}
.author__avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.author__name {
  vertical-align: middle;
}
.main {
  background-color: #e9ecef;
}
.repeaters__order {
  margin: 20px 0;
}
.repeaters__input {
  width: 30%;
}
.phone-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.phone-list__item {
  height: 100px;
  margin-bottom: 2px;
  padding: 10px;
  border: 1px solid #2a4254;
}
.phone-list__item-img {
  float: left;
  width: auto;
  height: 100%;
  margin: 0 10px 0 0;
}
.sidebar {
  width: 220px;
  height: 100%;
  background-color: #1c3043;
}
/* nav
   ================================== */
.nav {
  background-color: #1c3043;
}
.nav__item--focus {
  border-left: 3px solid #20c997;
}
.nav__link {
  display: block;
  padding: 10px 20px;
  font-size: 0.9rem;
  line-height: 1;
  color: #fff;
  background-color: #23394b;
  text-decoration-line: none;
  /* ui-router active class */
}
.nav__link:hover {
  background-color: #17a2b8;
}
.nav__link--active {
  background-color: #13202c;
}
.nav__link-icon {
  margin-right: 5px;
}
/* arrow */
.nav__link-arrow {
  line-height: 1;
  float: right;
}
.sub-nav {
  height: 0;
  display: none;
}
.sub-nav__link {
  padding-left: 50px;
}
.nav__item--open {
  /* arrow */
}
.nav__item--open .sub-nav {
  height: auto;
  display: block;
}
.nav__item--open .nav__arrow {
  transform: rotate(90deg);
}
/* ==================================
 * Pages
 * ================================== */
.index__header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.index__sidebar--fixed {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1;
}
.index__main {
  position: relative;
  padding-top: 70px;
  padding-left: 230px;
  padding-right: 10px;
  min-height: 100%;
  box-sizing: border-box;
}
/* ==================================
 * Themes
 * ================================== */
