/* ==================================
 * Vendors
 * ================================== */
/* ==================================
 * Helpers
 * ================================== */
/* Base colors
   ================================== */
/* Theme
   ================================== */
/* Body
   ================================== */
/* Nav
   ================================== */
/* Header
   ================================== */
/* Main
   ================================== */
/* Sidebar
   ================================== */
/* Card
   ================================== */
/* Button
   ================================== */
/* Transitions
   ================================== */
/* Border
   ================================== */
/* Height, Width
   ================================== */
/* Base
   ================================== */
/* Headings
   ================================== */
/* Lead
   ================================== */
/* Button
   ================================== */
/* ==================================
 * Base
 * ================================== */
/**
 * Normalization of HTML elements, manually forked from Normalize.css to remove
 * styles targeting irrelevant browsers while applying new styles.
 *
 * Normalize is licensed MIT. https://github.com/necolas/normalize.css
 */
/* Document
   ================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Body
   ================================== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: .35em .75em .625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Document
   ================================== */
html,
body {
  height: 100%;
}

/* Headings
   ================================== */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

/* List
   ================================== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Lead
   ================================== */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Spacing
   ================================== */
.m-0 {
  margin: 0;
}

.mt-0,
.my-0 {
  margin-top: 0;
}

.mr-0,
.mx-0 {
  margin-right: 0;
}

.mb-0,
.my-0 {
  margin-bottom: 0;
}

.ml-0,
.mx-0 {
  margin-left: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mt-3,
.my-3 {
  margin-top: 1rem;
}

.mr-3,
.mx-3 {
  margin-right: 1rem;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem;
}

.ml-3,
.mx-3 {
  margin-left: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-5,
.my-5 {
  margin-top: 3rem;
}

.mr-5,
.mx-5 {
  margin-right: 3rem;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem;
}

.ml-5,
.mx-5 {
  margin-left: 3rem;
}

.p-0 {
  padding: 0;
}

.pt-0,
.py-0 {
  padding-top: 0;
}

.pr-0,
.px-0 {
  padding-right: 0;
}

.pb-0,
.py-0 {
  padding-bottom: 0;
}

.pl-0,
.px-0 {
  padding-left: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.pt-3,
.py-3 {
  padding-top: 1rem;
}

.pr-3,
.px-3 {
  padding-right: 1rem;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem;
}

.pl-3,
.px-3 {
  padding-left: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-5,
.py-5 {
  padding-top: 3rem;
}

.pr-5,
.px-5 {
  padding-right: 3rem;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem;
}

.pl-5,
.px-5 {
  padding-left: 3rem;
}

/* Display
   ================================== */
.d-line {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

/* Clearfix
   ================================== */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* Text
   ================================== */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

/* Border
   ================================== */
.border-primary {
  border-color: #007bff;
}

.border-secondary {
  border-color: #adb5bd;
}

.border-light {
  border-color: #e9ecef;
}

.border-dark {
  border-color: #343a40;
}

.border-blue {
  border-color: #007bff;
}

.border-gray {
  border-color: #adb5bd;
}

.border-green {
  border-color: #28a745;
}

.border-cyan {
  border-color: #17a2b8;
}

.border-yellow {
  border-color: #ffc107;
}

.border-red {
  border-color: #dc3545;
}

.border-orange {
  border-color: #fd7e14;
}

/* Border-radius
   ================================== */
.rounded {
  border-radius: 0.25rem;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-0 {
  border-radius: 0;
}

/* Sizing
   ================================== */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.mw-100 {
  max-width: 100%;
}

.mh-100 {
  max-height: 100%;
}

/* ==================================
 * Components
 * ================================== */
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn:disabled {
  opacity: .65;
  cursor: auto;
}

.btn--primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn--primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn--primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn--primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btn--secondary {
  color: #212529;
  background-color: #adb5bd;
  border-color: #adb5bd;
}
.btn--secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.5);
}
.btn--secondary:hover {
  color: #212529;
  background-color: #98a2ac;
  border-color: #919ca6;
}
.btn--secondary:disabled {
  background-color: #adb5bd;
  border-color: #adb5bd;
}

.btn--light {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}
.btn--light:focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 236, 239, 0.5);
}
.btn--light:hover {
  color: #212529;
  background-color: #d3d9df;
  border-color: #cbd3da;
}
.btn--light:disabled {
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.btn--dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn--dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.btn--dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
.btn--dark:disabled {
  background-color: #343a40;
  border-color: #343a40;
}

.btn--blue {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn--blue:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn--blue:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn--blue:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.btn--gray {
  color: #212529;
  background-color: #adb5bd;
  border-color: #adb5bd;
}
.btn--gray:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.5);
}
.btn--gray:hover {
  color: #212529;
  background-color: #98a2ac;
  border-color: #919ca6;
}
.btn--gray:disabled {
  background-color: #adb5bd;
  border-color: #adb5bd;
}

.btn--green {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn--green:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn--green:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.btn--green:disabled {
  background-color: #28a745;
  border-color: #28a745;
}

.btn--cyan {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn--cyan:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn--cyan:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
.btn--cyan:disabled {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn--yellow {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn--yellow:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn--yellow:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}
.btn--yellow:disabled {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn--red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn--red:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn--red:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn--red:disabled {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn--orange {
  color: #212529;
  background-color: #fd7e14;
  border-color: #fd7e14;
}
.btn--orange:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5);
}
.btn--orange:hover {
  color: #fff;
  background-color: #e96b02;
  border-color: #dc6502;
}
.btn--orange:disabled {
  background-color: #fd7e14;
  border-color: #fd7e14;
}

.btn--outline-primary {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
  background-image: none;
}
.btn--outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn--outline-primary:hover {
  color: #fff;
  background-color: #007bff;
}
.btn--outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn--outline-secondary {
  color: #adb5bd;
  background-color: transparent;
  border-color: #adb5bd;
  background-image: none;
}
.btn--outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.5);
}
.btn--outline-secondary:hover {
  color: #212529;
  background-color: #adb5bd;
}
.btn--outline-secondary:disabled {
  color: #adb5bd;
  background-color: transparent;
}

.btn--outline-light {
  color: #e9ecef;
  background-color: transparent;
  border-color: #e9ecef;
  background-image: none;
}
.btn--outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 236, 239, 0.5);
}
.btn--outline-light:hover {
  color: #212529;
  background-color: #e9ecef;
}
.btn--outline-light:disabled {
  color: #e9ecef;
  background-color: transparent;
}

.btn--outline-dark {
  color: #343a40;
  background-color: transparent;
  border-color: #343a40;
  background-image: none;
}
.btn--outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.btn--outline-dark:hover {
  color: #fff;
  background-color: #343a40;
}
.btn--outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn--outline-blue {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
  background-image: none;
}
.btn--outline-blue:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn--outline-blue:hover {
  color: #fff;
  background-color: #007bff;
}
.btn--outline-blue:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn--outline-gray {
  color: #adb5bd;
  background-color: transparent;
  border-color: #adb5bd;
  background-image: none;
}
.btn--outline-gray:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.5);
}
.btn--outline-gray:hover {
  color: #212529;
  background-color: #adb5bd;
}
.btn--outline-gray:disabled {
  color: #adb5bd;
  background-color: transparent;
}

.btn--outline-green {
  color: #28a745;
  background-color: transparent;
  border-color: #28a745;
  background-image: none;
}
.btn--outline-green:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn--outline-green:hover {
  color: #fff;
  background-color: #28a745;
}
.btn--outline-green:disabled {
  color: #28a745;
  background-color: transparent;
}

.btn--outline-cyan {
  color: #17a2b8;
  background-color: transparent;
  border-color: #17a2b8;
  background-image: none;
}
.btn--outline-cyan:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn--outline-cyan:hover {
  color: #fff;
  background-color: #17a2b8;
}
.btn--outline-cyan:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn--outline-yellow {
  color: #ffc107;
  background-color: transparent;
  border-color: #ffc107;
  background-image: none;
}
.btn--outline-yellow:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn--outline-yellow:hover {
  color: #212529;
  background-color: #ffc107;
}
.btn--outline-yellow:disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn--outline-red {
  color: #dc3545;
  background-color: transparent;
  border-color: #dc3545;
  background-image: none;
}
.btn--outline-red:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn--outline-red:hover {
  color: #fff;
  background-color: #dc3545;
}
.btn--outline-red:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn--outline-orange {
  color: #fd7e14;
  background-color: transparent;
  border-color: #fd7e14;
  background-image: none;
}
.btn--outline-orange:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5);
}
.btn--outline-orange:hover {
  color: #212529;
  background-color: #fd7e14;
}
.btn--outline-orange:disabled {
  color: #fd7e14;
  background-color: transparent;
}

.card {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.card::before, .card::after {
  content: "";
  display: table;
}

.card__header {
  width: 100%;
  padding: .75rem 1.25rem;
  background-color: #ced4da;
}

.card__body {
  width: 100%;
  padding: 1.25rem;
}

/* Modifier
   ================================== */
.card--shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.card--shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card--primary {
  border: 1px solid #007bff;
}
.card--primary > .card__header {
  color: #fff;
  background-color: #007bff;
}

.card--secondary {
  border: 1px solid #adb5bd;
}
.card--secondary > .card__header {
  color: #212529;
  background-color: #adb5bd;
}

.card--light {
  border: 1px solid #e9ecef;
}
.card--light > .card__header {
  color: #212529;
  background-color: #e9ecef;
}

.card--dark {
  border: 1px solid #343a40;
}
.card--dark > .card__header {
  color: #fff;
  background-color: #343a40;
}

.card--blue {
  border: 1px solid #007bff;
}
.card--blue > .card__header {
  color: #fff;
  background-color: #007bff;
}

.card--gray {
  border: 1px solid #adb5bd;
}
.card--gray > .card__header {
  color: #212529;
  background-color: #adb5bd;
}

.card--green {
  border: 1px solid #28a745;
}
.card--green > .card__header {
  color: #fff;
  background-color: #28a745;
}

.card--cyan {
  border: 1px solid #17a2b8;
}
.card--cyan > .card__header {
  color: #fff;
  background-color: #17a2b8;
}

.card--yellow {
  border: 1px solid #ffc107;
}
.card--yellow > .card__header {
  color: #212529;
  background-color: #ffc107;
}

.card--red {
  border: 1px solid #dc3545;
}
.card--red > .card__header {
  color: #fff;
  background-color: #dc3545;
}

.card--orange {
  border: 1px solid #fd7e14;
}
.card--orange > .card__header {
  color: #212529;
  background-color: #fd7e14;
}

.form-group {
  display: block;
  margin-bottom: 1rem;
}

.form-group__label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15;
}

.form-group__input {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group__input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.form-group__input::placeholder {
  color: #868e96;
  opacity: 1;
}

.img--circle {
  border-radius: 50%;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: .5s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition: .5s linear all;
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

/* ==================================
 * Partials
 * ================================== */
.header {
  height: 60px;
  width: 100%;
  background-color: #fff;
}

.header__brand {
  display: inline-block;
  width: 220px;
  height: 60px;
  background-image: url("/img/AngularJS.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #1c3043;
}

.header__author {
  float: right;
  display: inline-block;
  line-height: 60px;
}

/* author
   ================================== */
.author {
  display: inline-block;
  text-decoration-line: none;
}

.author__avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.author__name {
  vertical-align: middle;
}

.main {
  background-color: #e9ecef;
}

.repeaters__order {
  margin: 20px 0;
}

.repeaters__input {
  width: 30%;
}

.phone-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.phone-list__item {
  margin-bottom: 2px;
  padding: 10px;
  border: 1px solid #343a40;
}

.phone-list__item-img {
  float: left;
  width: auto;
  height: 100px;
  margin: 0 10px 0 0;
}

.sidebar {
  width: 220px;
  height: 100%;
  background-color: #1c3043;
}

/* nav
   ================================== */
.nav {
  background-color: #fff;
}

.nav__item--focus {
  border-left: 3px solid #20c997;
}

.nav__link {
  display: block;
  padding: 10px 20px;
  font-size: .9rem;
  line-height: 1;
  color: #fff;
  background-color: #284560;
  text-decoration-line: none;
  /* ui-router active class */
}
.nav__link:hover {
  background-color: #17a2b8;
}
.nav__link--active {
  background-color: #101b26;
}

.nav__link-icon {
  margin-right: 5px;
}

/* arrow */
.nav__link-arrow {
  line-height: 1;
  float: right;
}

.sub-nav {
  height: 0;
  display: none;
}

.sub-nav__link {
  padding-left: 50px;
}

.nav__item--open {
  /* arrow */
}
.nav__item--open .sub-nav {
  height: auto;
  display: block;
}
.nav__item--open .nav__link-arrow {
  transform: rotate(90deg);
}

/* ==================================
 * Pages
 * ================================== */
.index__header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.index__sidebar--fixed {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1;
}

.index__main {
  position: relative;
  padding-top: 70px;
  padding-left: 230px;
  padding-right: 10px;
  min-height: 100%;
  box-sizing: border-box;
}

/* ==================================
 * Themes
 * ================================== */

/*# sourceMappingURL=app.css.map */
