/* ----------------------------------
 * 此css使用BEM标准
 *
 * [BEM](https://en.bem.info/)
 *
 *
 * 命令约定使用Two Dashes style:
 *    block-name__elem-name--mod-name-mod-val
 * 详见：https://en.bem.info/methodology/naming-convention/#two-dashes-style
 *
 * ---------------------------------- */

/* ----------------------------------
 * fixed header
 * ---------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  width: 100%;
  padding-left: 200px;
  box-sizing: border-box;
  background-color: #fff;
}

.author {
  float: right;
  display: inline-block;
  line-height: 60px;
  margin-right: 20px;
  text-decoration-line: none;
}

.author__avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.author__name {
  vertical-align: middle;
}

/* ----------------------------------
 * fixed sidebar
 * ---------------------------------- */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 100%;
  background-color: #1c2b36;
}

.sidebar__logo {
  background-color: #1c2b36;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar__link {
  display: block;
  padding: 15px 20px;
  background-color: #113956;
  margin: 2px 0;
  color: #b7b7b7;
  font-weight: 500;
  text-decoration-line: none;
}

.sidebar__link:hover {
  background-color: #146caa;
  color: white;
}

.sidebar__link--active {
  background-color: #146caa;
  color: white;
}

/* ----------------------------------
 *  content
 * ---------------------------------- */
.container {
  position: relative;
  margin-top: 60px;
  margin-left: 200px;
  min-height: 100%;
  padding: 10px;
  background-color: #eaeaea;
}

.content {
}

/* ----------------------------------
 * home demo
 * ---------------------------------- */
.home__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}


/* ----------------------------------
 * repeaters demo
 * ---------------------------------- */

.repeaters__order {
  margin: 20px 0;
}

.repeaters__input {
  width: 30%;
}

.phone-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.phone-list__item {
  height: 100px;
  margin-bottom: 2px;
  padding: 10px;
  border: 1px solid #2a4254;
}

.phone-list__item-img {
  float: left;
  width: auto;
  height: 100%;
  margin: 0 10px 0 0;
}

.phone-list__item-name {
}

.phone-list__item-description {
}

/* ----------------------------------
 * aninations demo
 * ---------------------------------- */

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition: 0.5s linear all;
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
