/* ----------------------------------
 * 此css使用BEM标准
 *
 * [BEM](https://en.bem.info/)
 *
 *
 * 命令约定使用Two Dashes style:
 *    block-name__elem-name--mod-name--mod-val
 * 详见：https://en.bem.info/methodology/naming-convention/#two-dashes-style
 *
 * ---------------------------------- */

html {
  font-family: sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;   
  color: #212529;
}
html, body {
  height: 100%;
}

/* ----------------------------------
 * fixed header
 * ---------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;

  background-color: #052d49;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.header__tips {
  display: inline;
  vertical-align: middle;
  line-height: 60px;
  margin-left: 40px;

  color: #f9ab4f;
  font-size: 24px;
}


/* ----------------------------------
 * fixed sidebar
 * ---------------------------------- */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 100%;

  background-color: #1c2b36;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar__link {
  display: block;
  padding: 15px 20px;
  background-color: #113956;
  margin: 2px 0;
  color: #b7b7b7;
  font-weight: 500;
  text-decoration-line: none;
}
.sidebar__link:hover {
  background-color: #146caa;
  color: white;
}
.sidebar__link--active {
  background-color: #146caa;
  color: white;
}

/* ----------------------------------
 *  content
 * ---------------------------------- */
.container {
  position: relative;
  margin-top: 60px;
  margin-left: 200px;  
  min-height: 100%;
  padding: 10px;
  
  background-color: #eaeaea;
}
.content {
}

/* ----------------------------------
 * comman
 * ---------------------------------- */

/* 中心内容 */
.lead {
  font-size: 2rem;
  font-weight: 300;
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* 解决：包含块下的子元素都为块元素的情况下，包含块不包含子元素的margin-top与margin-bottom */
.card:before {
  content: "";
  display: table;
}
.card:after {
  content: "";
  display: table;
}

/* ----------------------------------
 * phone-list block
 * ---------------------------------- */
.phone-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.phone-list__item {
  height: 100px;
  margin: 20px;
  padding: 10px;
  border: 1px solid red;
}
.phone-list__item-img {
  float: left;
  width: auto;
  height: 100%;
  margin: 0 10px 0 0;
}
.phone-list__item-name {
}
.phone-list__item-description {
}

/* ----------------------------------
 * aninations block 
 * ---------------------------------- */
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
