<header class="header home__header--fixed">
  <div class="header__inner">

    <a class="header__brand" href="https://angularjs.org" target="_blank"></a>

    <div class="header__author">
      <a class="author" href="https://github.com/qw8880000/angularjs-sample" target="_blank">
        <img class="author__avatar" src="img/avatar.gif" alt="author's avatar">
        <span class="author__name">好好编程</span>
      </a>

      <ul class="user-menu">
        <li ng-click="vm.logout()" class="user-menu__item">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>Logout</span>
        </li>
      </ul>

    </div>
</div>

</header>

<aside class="sidebar home__sidebar--fixed">
  <ul ccw-accordion class="nav">

    <div ng-repeat="item in vm.navItems">

      <!-- no subItem -->
      <li ng-if="!vm.hasSubNav(item)"
        ng-class="vm.isActive(item.sref) ? 'js-nav__item--focus' : ''"
        ccw-accordion-item
        ui-sref-active="js-nav__item--active">
        <a class="nav__link" ui-sref="{{item.sref}}">
          <span class="nav__link-prepend"> <i class="{{item.icon}}" aria-hidden="true"></i> </span>
          <span class="nav__link-label"> {{item.name}} </span>
        </a>
      </li>

      <!-- has subItem -->
      <li ng-if="vm.hasSubNav(item)"
        class="nav__item" 
        ng-class="vm.hasChildActive(item) ? 'js-nav__item--focus' : ''"
        ui-sref-active="js-nav__item--active"
        ccw-accordion-item
        item-open-class="js-nav__item--active">

        <a class="nav__link" href="" ccw-accordion-toggle>
          <span class="nav__link-prepend"> <i class="{{item.icon}}" aria-hidden="true"></i> </span>
          <span class="nav__link-label">{{item.name}}</span>
          <span class="nav__link-arrow"> <i class="fa fa-angle-right" aria-hidden="true"></i> </span>
        </a>
        <ul class="sub-nav">
          <li ng-repeat="subItem in item.subItems">
            <a ng-class="vm.isActive(subItem.sref) ? 'js-nav__link--active' : ''"
              class="nav__link sub-nav__link"
              ui-sref="{{subItem.sref}}">
              {{subItem.name}}
            </a>
          </li>
        </ul>
      </li>

    </div>

  </ul>
</aside>

<div class="main home__main">

  <div class="main__inner">
    <ui-view></ui-view>
  </div>

</div>

