<header class="header home__header--fixed">
  <div class="header__inner">

    <a class="header__brand" href="" target="_blank"></a>

    <div class="header__author">
      <a class="author" href="">
        <img class="author__avatar" ng-src="{{vm.user.avatarUrl}}" alt="author's avatar">
        <span class="author__name">{{vm.user.nick}}</span>
      </a>

      <ul class="user-menu">
        <li ng-click="vm.passwordEdit()" class="user-menu__item">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span>密码修改</span>
        </li>
        <li ng-click="vm.userEdit()" class="user-menu__item">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span>设置基本信息</span>
        </li>
        <li ng-click="vm.logout()" class="user-menu__item">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>退出</span>
        </li>
      </ul>

    </div>
</div>

</header>

<aside class="sidebar home__sidebar--fixed">
  <nav-menu></nav-menu> 
</aside>

<div ng-cloak class="main home__main">
  <ui-view></ui-view>
</div>

