//
// Colors
//
$white:                #fff;
$gray-100:             #f8f9fa;
$gray-200:             #e9ecef;
$gray-300:             #dee2e6;
$gray-400:             #ced4da;
$gray-500:             #adb5bd;
$gray-600:             #6c757d;
$gray-700:             #495057;
$gray-800:             #343a40;
$gray-900:             #212529;
$black:                #000;

$blue:                 #007bff;
$indigo:               #6610f2;
$purple:               #6f42c1;
$pink:                 #e83e8c;
$red:                  #dc3545;
$orange:               #fd7e14;
$yellow:               #ffc107;
$green:                #28a745;
$teal:                 #20c997;
$cyan:                 #17a2b8;

$big-stone:            #1c3043;

$cl-primary:           $blue;
$cl-secondary:         $gray-500;
$cl-success:           $green;
$cl-info:              $cyan;
$cl-warning:           $yellow;
$cl-danger:            $red;
$cl-light:             $gray-200;
$cl-dark:              $gray-800;

$theme-colors: (
  "primary":   $cl-primary,
  "secondary": $cl-secondary,
  "light":     $cl-light,
  "dark":      $cl-dark,
  "blue":      $blue,
  "gray":      $gray-500,
  "green":     $green,
  "cyan":      $cyan,
  "yellow":    $yellow,
  "red":       $red,
  "orange":    $orange
);

//
// typography
//
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

// Headings
$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$headings-margin-bottom:      ($font-size-base / 2);
$headings-font-family:        inherit;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              inherit;

// Lead
$lead-font-size:              ($font-size-base * 1.25);
$lead-font-weight:            300;

//
// Transitions
//
$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

//
// Border
//
$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;
