//
// button
//
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$btn-theme-colors: map-merge($theme-colors, ());
$btn-font-size:   $font-size-base;
$btn-font-weight: $font-weight-normal;

//
// card
//
$card-bg-color:           $white;
$card-border-color:       $gray-400;
$card-theme-colors: map-merge($theme-colors, ());

//
// BreadCrumb
//
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-divider:                "/" !default;
$breadcrumb-divider-color:          $gray-600 !default;
