$enable-rounded: true;
$enable-shadows: true;

$component-active-bg:              theme-color("primary");

//
// Buttons + Forms
//
$input-btn-padding-y:              .375rem !default;
$input-btn-padding-x:              .75rem !default;
$input-btn-line-height:            $line-height-base !default;
$input-btn-font-size:              $font-size-base !default;

$input-btn-focus-width:            .2rem !default;
$input-btn-focus-color:            rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:       0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

//
// Button
//
$btn-padding-y:                    $input-btn-padding-y !default;
$btn-padding-x:                    $input-btn-padding-x * 2 !default;
$btn-line-height:                  $input-btn-line-height !default;
$btn-font-size:                    $input-btn-font-size;

$btn-theme-colors:                 map-merge($theme-colors, ());
$btn-transition:                   color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$btn-border-radius:                $border-radius;
$btn-font-weight:                  $font-weight-normal;

//
// Form
//
$input-padding-y:                  $input-btn-padding-y !default;
$input-padding-x:                  $input-btn-padding-x !default;
$input-line-height:                $input-btn-line-height !default;
$input-font-size:                  $input-btn-font-size;

$input-bg:                         $white !default;
$input-disabled-bg:                $gray-200 !default;
$input-color:                      $gray-700 !default;
$input-border-color:               $gray-400 !default;
$input-box-shadow:                 inset 0 1px 1px rgba($black, .075) !default;

$input-border-width:               $border-width !default;
$input-border-radius:              $border-radius !default;

$input-transition:                 border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$input-placeholder-color:          $gray-600 !default;

$input-focus-bg:                   $input-bg !default;
$input-focus-border-color:         lighten($component-active-bg, 25%) !default;
$input-focus-color:                $input-color !default;
$input-focus-box-shadow:           $input-btn-focus-box-shadow !default;

//
// Card
//
$card-bg-color:                    $white;
$card-border-color:                $gray-400;
$card-theme-colors:                map-merge($theme-colors, ());

$card-border-radius:                $border-radius;

//
// BreadCrumb
//
$breadcrumb-item-padding:          .5rem !default;

$breadcrumb-divider:               "/" !default;
$breadcrumb-divider-color:         $gray-600 !default;
$breadcrumb-active-color:          $gray-600 !default;

//
// link
//
$link-color:                       theme-color("primary") !default;
$link-decoration:                  none !default;
$link-hover-color:                 darken($link-color, 15%) !default;
$link-hover-decoration:            underline !default;

// Pagination

$pagination-padding-y:             .5rem !default;
$pagination-padding-x:             .75rem !default;
$pagination-line-height:           1.25 !default;

$pagination-color:                 $link-color !default;
$pagination-bg:                    $white !default;
$pagination-border-width:          $border-width !default;
$pagination-border-color:          $gray-300 !default;

$pagination-hover-color:           $link-hover-color !default;
$pagination-hover-bg:              $gray-200 !default;
$pagination-hover-border-color:    $gray-300 !default;

$pagination-active-color:          $white !default;
$pagination-active-bg:             $component-active-bg !default;
$pagination-active-border-color:   $component-active-bg !default;

$pagination-disabled-color:        $gray-600 !default;
$pagination-disabled-bg:           $white !default;
$pagination-disabled-border-color: $gray-300 !default;
