/* ==================================
 * transitions
 * ================================== */
$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

/* button
   ================================== */
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

/* ==================================
 * height, width
 * ================================== */

/* Header
   ================================== */
$header-height: 60px;

/* Sidebar
   ================================== */
$sidebar-width: 220px;

