//
// Body
//
$body-bg-color:           $white;
$body-font-color:         $gray-900;

//
// header
//
$header-height: 60px;
$header-bg-color:         $white;

//
// sidebar
//
$sidebar-width: 220px;
$sidebar-bg-color:        $big-stone;

//
// Main
//
$main-bg-color:           $gray-200;

//
// Nav
//
$nav-font-color:          $gray-300;
$nav-item-color:          lighten($big-stone, 8%);
$nav-item-active-color:   darken($big-stone, 8%);
$nav-item-hover-color:    $cyan;
$nav-vline-color: $teal;

