.sidebar {
  width: @sidebar-width;
  height: 100%;
  background-color: @nav-color;
}

/* nav
   ================================== */

.nav {
  background-color: @nav-color;
}

.nav__item {
  display: block;
  padding: 15px 20px;
  margin: 2px 0;
  background-color: @nav-item-color;
  text-decoration-line: none;
}

.nav__item:hover {
  background-color: @nav-item-hover-color;
}

.nav__item--active {
  background-color: @nav-item-active-color;
}

