.sidebar {
  width: @sidebar-width;
  height: 100%;
  background-color: @nav-color;
}

/* nav
   ================================== */
.nav {
  background-color: @nav-color;
}

.nav__item {
  display: block;
  padding: 10px 20px;
  color: @nav-font-color;
  background-color: @nav-item-color;
  text-decoration-line: none;

  &:hover {
    background-color: @nav-item-hover-color;
  }

  &--active {
    background-color: @nav-item-active-color;
  }
}

.sub-nav {
  height: 0;
  display: none;
}

.sub-nav--open {
  border-left: 3px solid @nav-vertical-line-color;

  .sub-nav {
    height: auto;
    display: block;
  }
}
