.sidebar {
  width: @sidebar-width;
  height: 100%;
  background-color: @cl-sidebar-bg;
}

/* nav
   ================================== */
.nav {
  background-color: @cl-nav-font;
}

.nav__item {
  &--focus {
    border-left: 3px solid @cl-nav-vertical-line;
  }
}

.nav__link {
  display: block;
  padding: 10px 20px;
  font-size: 0.9rem;
  line-height: 1;
  color: @cl-nav-font;
  background-color: @cl-nav-item;
  text-decoration-line: none;

  &:hover {
    background-color: @cl-nav-item-hover;
  }

  /* ui-router active class */
  &--active {
    background-color: @cl-nav-item-active;
  }
}

.nav__link-icon {
  margin-right: 5px;
}

/* arrow */
.nav__link-arrow {
  line-height: 1;
  float: right;
}

.nav__link-label {
}

.sub-nav {
  height: 0;
  display: none;
}

.sub-nav__link {
  padding-left: 50px;
}

.nav__item--open {
  .sub-nav {
    height: auto;
    display: block;
  }

  /* arrow */
  .nav__link-arrow {
    transform: rotate(90deg);
  }
}
