<div class="card card--green">

  <div class="card__header">
    <span class="h2"> Toastrs demo </span>
  </div>

  <div class="card__body">
    <p>来自第三方插件：<a href="https://github.com/Foxandxss/angular-toastr">toastr</a>
</p> 
    <p>有标题的toastr</p>
    <button class="btn btn--success" ng-click="vm.openToastr('success', 'Hello world!', 'Toastr fun!')">success</button>
    <button class="btn btn--info" ng-click="vm.openToastr('info', 'We are open today from 10 to 22', 'Information')">info</button>
    <button class="btn btn--warning" ng-click="vm.openToastr('warning', 'Your computer is about to explode!', 'Warning')">warning</button>
    <button class="btn btn--danger" ng-click="vm.openToastr('error', 'Your credentials are gone', 'Error')">error</button>
    <p>无标题的toastr</p>
    <button class="btn btn--success" ng-click="vm.openToastr('success', 'Hello world!')">success</button>
    <button class="btn btn--info" ng-click="vm.openToastr('info', 'We are open today from 10 to 22')">info</button>
    <button class="btn btn--warning" ng-click="vm.openToastr('warning', 'Your computer is about to explode!')">warning</button>
    <button class="btn btn--danger" ng-click="vm.openToastr('error', 'Your credentials are gone')">error</button>
  </div>

</div>
