<div class="password-forget">

  <div class="password-forget-inner">
    <form name="passwordForm" novalidate>
      <ul class="main-list main-section">

        <li class="main-list__item">
          <label class="main-list__item-left" for="phone"><span class="text-red">*</span>手机号：</label>
          <input class="form-input main-list__item-middle"
                 type="tel"
                 name="phone" id="phone"
                 ng-model="vm.phone"
                 placeholder="请输入原密码"
                 required>
          <div ng-show="passwordForm.$submitted || passwordForm.phone.$touched" class="main-list__error">
            <span ng-show="passwordForm.phone.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <label class="main-list__item-left" for="verifyPic"><span class="text-red">*</span>图形验证：</label>
          <div class="main-list__item-middle">
            <input class="form-input col-8"
                   type="text"
                   name="verifyPic" id="verifyPic"
                   ng-model="vm.verifyPicCode"
                   placeholder="请输入图形中的字符"
                   required>
            <img alt="图形" class="d-inline-block col-4" ng-src="{{vm.verifyPicUrl}}" ng-click="vm.getVerifyPic()"/>
          </div>
          <div ng-show="passwordForm.$submitted || passwordForm.verifyPic.$touched" class="main-list__error">
            <span ng-show="passwordForm.verifyPic.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <label class="main-list__item-left" for="verifyCode"><span class="text-red">*</span>验证码：</label>
          <div class="main-list__item-middle">
            <input class="form-input col-7"
                   type="text"
                   name="verifyCode" id="verifyCode"
                   ng-model="vm.verifyCode"
                   placeholder="请输入验证码"
                   required>
            <button class="btn btn--primary col-5" type="button" ng-click="vm.getVerifyCode()" ng-if="!vm.isShowCountDown">获取验证码</button>
            <button disabled class="btn btn--primary" type="button" ng-click="vm.getVerifyCode()" ng-if="vm.isShowCountDown">{{vm.countDown}}</button>
          </div>
          <div ng-show="passwordForm.$submitted || passwordForm.verifyCode.$touched" class="main-list__error">
            <span ng-show="passwordForm.verifyCode.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <label class="main-list__item-left" for="newPassword"><span class="text-red">*</span>新密码：</label>
          <input class="form-input main-list__item-middle"
                 type="password"
                 name="newPassword" id="newPassword"
                 ng-model="vm.newPassword"
                 placeholder="请输入新密码"
                 required>
          <div ng-show="passwordForm.$submitted || passwordForm.newPassword.$touched" class="main-list__error">
            <span ng-show="passwordForm.newPassword.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <label class="main-list__item-left" for="newPasswordAgain"><span class="text-red">*</span>确认新密码：</label>
          <input class="form-input main-list__item-middle"
                 type="password"
                 name="newPasswordAgain" id="newPasswordAgain"
                 ng-model="vm.newPasswordAgain"
                 placeholder="请再次输入新密码"
                 required>
          <div ng-show="passwordForm.$submitted || passwordForm.newPasswordAgain.$touched" class="main-list__error">
            <span ng-show="passwordForm.newPasswordAgain.$error.required">不能为空</span>
          </div>
        </li>
        <li class="main-list__item">
          <div class="main-list__item-middle main-list--offset">
            <button class="btn btn--secondary col-6" type="submit"
                    ng-click="vm.resetPassword(passwordForm)">确定
            </button>
            <button class="btn btn--gray col-6" type="button" ng-click="vm.cancel()">取消</button>
          </div>
        </li>
      </ul>
    </form>
  </div>

</div>